* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "welcome-content"
    "about-content"
    "skills-content"
    "develop-content"
    "projects-content"
    "contact-content"
    "footer"
    "footer-content";

  grid-template-columns: 1fr;

  gap: 0;
  padding: 0;
  margin: 0;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.welcome-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 25vh;
  grid-area: welcome-content;
}

.welcome-content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.welcome-content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.welcome-content p {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border: radius 50px;
  margin-top: 20px;
}

.about-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 25vh;
  grid-area: about-content;
}

.about-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
}

.about-content p {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border: radius 50px;
  margin-top: 20px;
}

.mypicture {
  border-radius: 20px;
  width: 50%;
  height: 50%;
  display: left;
}

.skills-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  /* padding: 25vh; */
  grid-area: skills-content;
  padding: 0;
}

.skills-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  padding: 20px;
}

.skills-content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}
.skills-content ul li {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  width: 144px;
  height: 144px;
}

.skill-item figcaption {
  margin-top: 10px; /* Space between image and caption */
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.develop-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 25vh;
  grid-area: develop-content;
}

.develop-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  margin: 10px;
}

.develop-content ul {
  list-style: none;
  text-align: right;
  justify-content: right;
  width: 80%;
  margin-left: 10%;
}

.projects-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 25vh;
  grid-area: project-content;
}
.contact-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 25vh;
  grid-area: contact-content;
}

.contact-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  margin: 10px;
}

.footer-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  /* padding: 25vh; */
  margin-bottom: 20px;
  grid-area: footer-content;
}

.footer-content a {
  margin-bottom: 20px;
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
