* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "welcome-content"
    "about-content"
    "skills-content"
    "develop-content"
    "projects-content"
    "contact-content"
    "footer"
    "footer-content";

  grid-template-columns: 1fr;

  gap: 0;
  padding: 0;
  margin: 0;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */
  transition: 0.5s;
}

nav .logo {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.welcome-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 25vh;
  grid-area: welcome-content;
}

.welcome-content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.welcome-content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.welcome-content p {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border: radius 50px;
  margin-top: 20px;
}

.about-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 13vh;
  padding-bottom: 20vh;
  grid-area: about-content;
}

.about-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
}

.about-content p {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border: radius 50px;
  margin-top: 20px;
}

.mypicture {
  border-radius: 20px;
  width: 30%;
  height: 30%;
  display: left;
}

.skills-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 13vh;
  padding-bottom: 20vh;
  grid-area: skills-content;
}

.skills-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
}

.skills-content ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}
.skills-content ul li {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  width: 144px;
  height: 144px;
}

.skill-item figcaption {
  margin-top: 10px; /* Space between image and caption */
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.develop-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 13vh;
  padding-bottom: 20vh;

  grid-area: develop-content;
}

.develop-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 10px;
}

.develop-content ul {
  list-style: none;
  text-align: right;
  justify-content: right;
  width: 80%;
  margin-left: 10%;
}

.projects-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 13vh;
  padding-bottom: 20vh;
  grid-area: project-content;
}

.projects-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 10px;
}
.section {
  display: flex;
  column-gap: 20px;
  margin: 40px 50px;
}

.section-left {
  width: 50%;
  height: 50%;
  position: relative;
}

.section-left img {
  width: 100%;
  border-radius: 5px;
}
.slide img {
  width: 100%;
  border-radius: 5px;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slides {
  width: 100%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}
.slide {
  width: 100%;
  flex-shrink: 0;
  transition: 2s;
}
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -100%;
}
#radio3:checked ~ .first {
  margin-left: -200%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -50px;
}
.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 5px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #fff;
}

.section-right {
  width: 50%;
  height: 50%;
  text-align: center;
  justify-content: center;
  margin-top: 200px;
}

.section-right h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  justify-content: center;
}

.section-right p {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  margin: 20px;
  text-align: justify;
  justify-content: center;
}

.contact-content {
  font-size: 18px;
  padding: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 13vh;
  grid-area: contact-content;
}

.contact-content h2 {
  font-size: 55px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 10px;
}

.section-contact {
  color: #fff;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 34%;
  gap: 30px;
}

#registrationForm {
  display: flex;
  flex-direction: column;
  width: 48%;
}

#registrationForm label {
  font-size: 25px;
  margin-bottom: 8px;
}

#registrationForm input,
#registrationForm textarea {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

#registrationForm textarea {
  height: 150px;
}

.feedback {
  color: red;
}

button {
  font-size: 18px;
  padding: 10px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

footer {
  margin-top: 20px;
}
.footer-content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  /* padding: 25vh; */
  margin-bottom: 20px;
  grid-area: footer-content;
}

.footer-content a {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: #fff;
}

.footer-content img {
  width: 40px;
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
